body {
  background-image: url("Sprinkles.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: rgb(82, 82, 207);
  font-family: 'Sour Gummy';
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid rgb(96, 104, 255);
}



